$blueColor: rgba(30,100,200,0.7);
$defaultFontStyle: sans-serif;
$tableBackgroundColor: rgba(237, 237, 237, 0.80);
@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -webkit-linear-gradient($from, $to);
}

@mixin round {
  border-radius: 4px;
}

@keyframe spin {
from { transform: rotate(0deg);}
to {transform: rotate(360deg);}

}


@mixin circle($w: 25px,$h: 25px){
  @include gradient(green,darken(green,4%));
  z-index: 1;
  border-radius:200px;
  display:block;
  height:$w;
  line-height:$w;
  position:absolute;
  text-align:center;
  width:$h;
  z-index:1

};




.error {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
  background: red;
  color: white;
}


#summary-header {
  margin-bottom: 10px;
}


.summary-title {
  text-align:center;
  font-size: 50px;
};



.summary-li {
  @include gradient($tableBackgroundColor,darken($tableBackgroundColor,0.9));
  margin: 0px 0.5px 0.5px 0px;
  color: black;
  height: 50px;
  list-style-type: none;
  font-family: $defaultFontStyle;
  font-weight: bold;
  border-style: solid;
  border-width: 1.0px;
  border-color: darken($tableBackgroundColor,30%);
  font-size: 30px;
  text-align: left;
  padding: 25px 10px 5px 25px;
  .drink-count {
    @include gradient(green,darken(green,10%));
    @include circle(30px,24px);
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    right: 30px;
    margin-top: -35px;
  }
};





