$blueColor: rgba(30,100,200,0.8);
$defaultFontStyle: Serif;
@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -webkit-linear-gradient($from, $to);
}



.summary-title {
  text-align:center;
  font-size: 50px;
};

.summary-li {
  @include gradient($blueColor,darken($blueColor,10%));
  margin: 30px 40px 0 40px;
  color: white;
  list-style-type: none;
  font-family: $defaultFontStyle;
  font-weight: bold;
  border-style: solid;
  border-width: 5px;
  border-color: darken($blueColor,12%);
  border-radius: 10px 10px;
  font-size: 30px;
  text-align: left;
  padding: 5px 10px 5px 10px;
};


