$blueColor: rgba(30,100,200,0.7);
$defaultFontStyle: Serif;
$tableBackgroundColor: rgba(237, 237, 237, 0.80);
@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -webkit-linear-gradient($from, $to);
}

@mixin round {
  border-radius: 4px;
}

@mixin circle{
  background: rgba(255,200,200,0.8);
  width: 200px;
  height: 200px;
  border-radius: 50%;
};


#summary-header {
  margin-bottom: 10px;
}


.summary-title {
  text-align:center;
  font-size: 50px;
};


.summary-li {
  @include gradient($tableBackgroundColor,darken($tableBackgroundColor,0.9));
  margin: 0px 0.5px 0.5px 0px;
  color: black;
  height: 50px;
  list-style-type: none;
  font-family: $defaultFontStyle;
  font-weight: bold;
  border-style: solid;
  border-width: 1.0px;
  border-color: darken($tableBackgroundColor,30%);
  @include round;
  font-size: 30px;
  text-align: left;
  padding: 25px 10px 5px 25px;
  box-shadow: 10px 10px 20px lighten($tableBackgroundColor,100%);
};



