.summary-title {
  text-align: center;
  font-size: 50px;
  border-bottom: 3px dotted #ff0000; }

.summary-li {
  background-color: rgba(30, 100, 200, 0.8);
  background-image: -webkit-linear-gradient(rgba(30, 100, 200, 0.8), rgba(23, 78, 156, 0.8));
  margin: 30px 20px 0 20px;
  color: white;
  list-style-type: none;
  font-family: Serif;
  font-weight: bold;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(22, 73, 147, 0.8);
  border-radius: 10px 10px;
  font-size: 30px;
  text-align: left;
  padding: 5px 10px 5px 10px; }
